.automaton-cell {
    float: left;
    border-style: solid;
    border-width: 1px;
}

.row {
    margin-left: 0px;
}

.automaton-cell.dead {
    background-color: #93a1a1;
}

.automaton-cell.alive {
    background-color: #859900;
}

.automaton-cell.speaking {
    background-color: #6c71c4;
}

.automaton-cell.a {
    background-color: #859900;
}

.automaton-cell.b {
    background-color: #6c71c4;
}

.automaton-cell.w {
    background-color: #d33682;
}

.automaton-cell.lc {
    background-color: #b58900;
}

.automaton-cell.rc {
    background-color: #b58900;
}

.automaton-cell.x {
    background-color: black;
}

.automaton-cell.f {
    background-color: #dc322f;
}

.automaton-cell.m {
    background-color: black;
}

.automaton-cell.n {
    background-color: #073642;
}

.automaton-cell.s {
    background-color: #268bd2;
}
